<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/head :: head"></head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h2 th:text="#{label.validate}"></h2>
					
					<form method="post" enctype="multipart/form-data" th:action="@{/validation/embed}" th:object="${validationForm}" id="validation-form">

		                <div th:replace="fragment/fields::field-signed-file"></div>
		
		                <div th:replace="fragment/fields::field-detached-original-files"></div>
					
					    <input type="hidden" value="ARCHIVAL_DATA" th:field="*{validationLevel}" />
                        
                        <input type="hidden" value="true" th:field="*{defaultPolicy}" />
                        
					    <div th:replace="fragment/fields::submit-reset"></div>
					</form>

				</div>
			</div>
		</div>
	</body>
</html>
